body{
    font-family: Arial, sans-serif;
    text-align: center;
}

.titulo{
    background-image: linear-gradient(to right,rgb(11, 122, 248),white,white,green);
}

h1 {
    text-align: center;
}

h3{
    text-align: center;
}

img{
    width: 400px;
}

video{
    width: 400px;
}